.grid-c6 .grid-item-fill {
  width: 60%;
  height: 10px;
  background-color: var(--clr-pumpkin);
  border-radius: 100vh;
}



/* .Updates{
  width: 100%;
  background: white;
  border-radius: 0.7rem;
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 13px;
} */

.update{
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.update>img{
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
}

.noti>div>span:nth-of-type(1){
  font-weight: bold;
}


.Updates {
  height: 150px; /* Set a fixed height */
  overflow-y: auto; /* Enable vertical scrolling */
  padding-right: 10px; /* Add padding to prevent scrollbar overlaying the content */
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

/* Optional: Style the scrollbar */
.Updates::-webkit-scrollbar {
  width: 4px; /* Set width of the scrollbar */
}

.Updates::-webkit-scrollbar-thumb {
  background: #ccc; /* Set color of the scrollbar thumb */
  border-radius: 4px; /* Round the corners */
}

.Updates::-webkit-scrollbar-thumb:hover {
  background: #888; /* Darker color when hovering */
}